bottle==0.12.9
cycler==0.10.0
luxembourg==0.1.0
matplotlib==1.5.1
numpy==1.11.0
pip-init==0.3.0
protobuf==3.0.0b2
pyparsing==2.1.5
python-dateutil==2.5.3
pytz==2016.4
six==1.10.0
tensorflow==0.8.0
tensorflow-tutorials==0.1.0
virtualenv==15.0.1
